package badges

import (
    "fmt"
)

templ TotalDebt(totalDebt float32) {
    <div class="inline-flex items-center bg-gray-700 rounded-full px-3 py-1 text-sm font-medium text-white">
        <span class="mr-2">Bote:</span>
        <span class="font-bold">{fmt.Sprintf("%.2f", totalDebt)}</span>
    </div>
}
